#video-grid {

}


/* ::-webkit-media-controls-enclosure {
  border-radius: 5px;
  background-color: rgb(168, 168, 168);
} */

body {
    background-color: #222;
    color: #e6e6e6;
    border-color: #e6e6e6;
}

h1{
  font-size: 100%;
  font-size: 50px;
}
body {

	margin: 20px;
  font-size: 150%;
	text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  margin-bottom: -30;
}

.content img{
  margin-top: 10;
}


