body,
html {
	height: 100vh;
	background-color: rgb(51, 51, 51);
	margin: 0;
}


body {
	align-items: center;
	margin: 0;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

h1 {
	font-size: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	margin: 0;
}

label{
	margin:5px;
	font-size: 30px;
	color: white;
}

#roomS{
	display: flex;
	align-items: center;
	justify-content: center;
}

#generate{
	font-size: 50px;
	color: white;
	background-color: rgb(46, 46, 46);
}


img {
	margin-top: 10px;
}

#header {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;

}



#setup {
	text-align: center;
	padding: 100 200 100 200;
	background-color: rgb(37, 37, 37);
	margin: 5%;
}

#call {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: hidden;
	align-items: center;
	
	width: calc(100% - 10px);
  	margin-bottom: 20px;

}

#mediaTab {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background-color: #18191c;
  	padding-bottom: 20px;
  
}

#chatbox {
	overflow-y: auto;
	width: 100%;
	flex-grow: 1;
	height: 100%;
	color: white;
}

*::-webkit-scrollbar {
	width: 12px;
	background-color: #2e3338
}

*::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #202225;
}

#micI,
#cameraI,
#screenI {
	background-color: transparent;
	height: 40px;
	width: 40px;
	display: block;
	margin: auto;
	-webkit-filter: invert(100%);
	/* Safari/Chrome */
	filter: invert(100%);
}

#mic,
#camera,
#screen {
	background-color: transparent;
	text-align: center;
	border-radius: 50%;
	padding: 15;
	border: none;
	background-color: #2f3136
}

#video-grid {
	display: flex;
	flex-grow: 1;
	overflow-x: auto;
	width: 100%;
	
}

#bo {
	display: flex;
	flex-grow: 1;
	margin: 20px;
	max-width: 500px;
	min-width: 500px;
}
#bo:first-child {
	margin-left: auto;
}

#bo:last-child {
	margin-right: auto;
}
video {
	width: 100%;
}

#sendbar {
	display: flex;
	width: 100%;
}

#messageInput {
	border-radius: 10px;
	outline-style: none;
	box-shadow: none;
	background-color: #40444b;
	color: white;
	flex-grow: 1;
	padding: 10;
}