<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/chat.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="icon" type="image/x-icon" href="icons/favicon.ico">
    <title>Parrot</title>
    
 </head>
 <body>

       <div id="setup">

            <div id="header">
                <h1>Parrot</h1>
                <img width="100" height="100" src="icons/icon.png">
            </div>

                <input placeholder="Room ID" id="room"></textarea><br/>

            <br/><button id="generate" onclick="connect()" >Join</button>
       </div>


       <div style='display: none;' id="call">
        

            <div id="mediaTab">
                <div id="video-grid">


                </div>

                <div id="buttons">
                    <button id="mic" ><img class="icons"  id="micI" src="icons/micOn.png"></button>
                    <button id="camera" ><img class="icons" id="cameraI" src="icons/cameraOff.png"></button>
                    <button id="cameraSwitch" ><img class="icons" id="cameraSI" src="icons/camera-switch.png"></button>
                    <button id="addScreen" ><img class="icons" id="screenI" src="icons/screenOn.png"></button>
                    <!-- <button id="clrScreens" ><img id="clrscreenI" src="icons/screenOff.png"></button>  -->
                </div>
                <div id="status">
                    <div id="connection">Disconnected</div>
                    <div id="crtt">CRTT: -ms</div>
                    <div id="inbound">Inbound: -ms</div>
                </div>
            </div>



            <div id="chatbox"></div>
            
            

            <div id="sendbar">
                <input id="messageInput">
            </div>
        </div>

    <script type="text/javascript" src="js/client.js" defer></script>
 </body>